@code{
    List<EmployeeViewModel> employees;
    protected override async Task OnInitializedAsync()
    {
        var getResult = await Task.Run(()=>repo.GetEmployees());
        employees = getResult.Select(e=>new EmployeeViewModel { 
            EmpId=e.EmpId,
            EmpName=e.EmpName,
            Age=e.Age,
            EmailId=e.EmailId
        }).ToList();
    }
}

@page "/Employees"

@using BlazorCrudOperations.Data
@using BlazorCrudOperations.Models

@inject TestDBRepository repo

<NavLink class="nav-link" href="Create">
    <span class="oi oi-plus">Add New</span>
</NavLink>
<h3>Employee Information</h3>
@if (employees is null)
{
   <p><em>Loading...!</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Age</th>
                <th>EmailId</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var emp in employees)
                {
                    <tr>
                        <td>@emp.EmpName</td>
                        <td>@emp.Age</td>
                        <td>@emp.EmailId</td>
                        <td>
                            <a class="nav-link" href="Edit/@emp.EmpId">
                                <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                            </a>
                            <a class="nav-link" href="Delete/@emp.EmpId">
                                <span class="oi oi-trash" aria-hidden="true">Delete</span>

                            </a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
}
